/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-position: center;
  background-size: cover
}

main {
  display: flex;
  flex-direction: row-revese;
  justify-content: space-around;
  align-items: flex-end;
  padding: 5;
}

.quote-author-stay {
  transition: opacity .5s ease;
  opacity: 1;
}

.quote-author:hover {
  opacity: 0;
}

.todo-card {
  object-position: center;
  width: 100%
}

.completed {
  color: rgb(19, 233, 19);

}

.offcanvas {
  height: 60vh;
}